*.[oa]
*.lock
*.so
__pycache__

/bin
/gelpia_tests
/requirements/Sources
/requirements/bin
/requirements/debug_eniroment.sh
/requirements/etc
/requirements/include
/requirements/lib
/requirements/log.txt
/requirements/share
/src/func/comp_comm.sh
/src/function/target
/src/ga/target
/src/gelpia_utils/target
/src/gr/src/tmp
/src/gr/target
/target

*~